{% extends base.html %}

{ % block content % }

<h1>Edit a user</h1>

<form action="/users/{{% user.id %}}/edit" method="POST">
  <label for="first_name">First Name</label>
  <input name="first_name" placeholder="{{% user.first_name %}}">{{% user.first_name %}}</input>
  <label for="last_name">Last Name</label>
  <input name="last_name" placeholder="{{% user.last_name %}}">{{% user.last_name %}}</input>
  <label for="image_url">Image URL</label>
  <input name="image_url" placeholder="{{% user.image_url %}}">{{% user.image_url %}}</input>
  <button>Add</button>
</form>

{{ % endblock % }}