{% extends  'base.html' %}

{% block title %}
User Detail
{% endblock title %}

{% block content %}

<!-- Test: user-detail.html loaded; FOR TESTING DO NOT REMOVE -->

<div>
  {% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
  {% endfor %}
</div>

<h1>{{ user.first_name }} {{ user.last_name}}</h1>

{% if user.image_url %}
<img src="{{ user.image_url }}" alt="user image" class="img-thumbnail w-25">
{% endif %}

<form action="/users/{{ user.id }}/edit" method="GET">
  <button>Edit</button>
</form>

<form action="/users/{{ user.id }}/delete" method="POST">
  <button>Delete</button>
</form>

<br>

<h2>Posts</h2>

<ul>
  {% for post in user.posts %}
  <form action="/posts/{{ post.id }}">
    <button>{{ post.title }}</button>
  </form>
  {% endfor %}
</ul>

<br>

<form action="/users/{{ user.id }}/posts/new">
  <button>Add Post</button>
</form>



{% endblock content %}